@charset "UTF-8";
header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
  border: #000000 solid 0.3rem; }

.pestañasMenu {
  font-size: 2rem;
  text-decoration: none; }

.logoWeb {
  width: 4rem;
  border-radius: 50%; }

.menu {
  background-color: #18122B;
  width: 100%;
  padding-top: 0.5rem; }

.ElementosMenu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center; }

ul li a {
  color: aliceblue; }

ul li a:hover {
  color: #635985; }

h1 {
  text-align: center;
  font-size: 1.5rem;
  background-color: black;
  margin: 0; }

h2 {
  text-align: center;
  font-size: 1rem;
  margin: 1px;
  color: #000000;
  background-color: aliceblue; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: sans-serif; }

body {
  background-color: #635985;
  color: white; }

.plan {
  width: 15rem;
  border-radius: 50%;
  border: #000000 solid 0.5rem; }

.plan:hover {
  width: 20rem; }

article {
  background-color: #18122B;
  height: 30vh; }

.etiquetaTexto {
  font-size: 1rem; }

.logoPagina1 {
  border-radius: 50%; }

.ContainerTips {
  display: flex;
  background-color: #18122B;
  justify-content: center;
  align-items: center;
  border: #000000 0.5rem solid;
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-evenly; }

.redes {
  width: 3rem;
  list-style: none; }

.FooterEstilos {
  background-color: #18122B;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  border: #000000 solid 0.3rem; }

.container-grid {
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.plan-nutri {
  background-color: #18122B;
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center; }

.plan-body {
  background-color: #18122B;
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center; }

.plan-power {
  background-color: #18122B;
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center; }

.planesEntrenamiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #18122B;
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid; }

.planesEntrenamientoEspecificos {
  height: 30rem;
  width: 60rem;
  text-align: center; }

.planesEntrenamientoEspecificos:hover {
  width: 50rem;
  height: 25rem;
  border: #ffffff 10px solid; }

.PlanesTitulo {
  text-align: center;
  background-color: #000000;
  margin: 0 3rem 0 3rem;
  padding: 1rem 3rem 1rem 3rem; }

.CardRedes {
  padding: 3rem 0 3rem 0;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template: repeat(2, 30vh)/repeat(2, 60vh);
  grid-area: "CardTwitter CardFacebook" "CardWhatsapp CardInstagram";
  column-gap: 15px;
  row-gap: 10px; }

.CardTwitter {
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center;
  background-color: #18122B; }

.CardFacebook {
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center;
  background-color: #18122B; }

.CardWhatsapp {
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center;
  background-color: #18122B; }

.CardInstagram {
  margin: 1rem 3rem 1rem 3rem;
  padding: 1rem 3rem 1rem 3rem;
  border: #000000 0.5rem solid;
  text-align: center;
  background-color: #18122B; }

.LinkRedes {
  color: aliceblue;
  text-decoration: none;
  display: block; }

.LinkRedes:hover {
  color: #635985;
  font-size: 1.4rem; }

.redesGrande {
  border-radius: 50%;
  height: 10rem; }

h2 {
  text-align: center; }

button {
  font-size: 1rem; }

.Grid-tienda {
  padding: 3rem 0rem 3rem 0rem;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template: repeat(2, 40vh)/repeat(2, 60vh);
  column-gap: 15px;
  row-gap: 10px; }

.articuloVenta {
  height: 12rem;
  width: 12rem;
  border-radius: 5%; }

.articuloVenta:hover {
  width: 15rem;
  height: 15rem; }

.CardArticulo {
  background-color: #18122B;
  border: #000000 solid 1rem;
  display: grid;
  place-items: center;
  text-align: center; }

@media screen and (max-width: 1024px) {
  /********************* HEADER******************************/
  header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    border: #000000 solid 0.3rem; }
  .menu {
    background-color: #18122B;
    width: 100%;
    padding-top: 0.5rem; }
  .pestañasMenu {
    font-size: 1.5rem;
    text-decoration: none; }
  .logoWeb {
    width: 3rem;
    border-radius: 50%; }
  .ElementosMenu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  ul li a {
    color: aliceblue; }
  ul li a:hover {
    color: #635985; }
  h1 {
    text-align: center;
    font-size: 1rem;
    background-color: black;
    margin: 0; }
  /*****************TERMINA EL HEADER************************/
  /**************************FOOTER**************************/
  .redes {
    width: 3rem;
    list-style: none; }
  .FooterEstilos {
    background-color: #18122B;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: #000000 solid 0.3rem; }
  /******************MAIN************************************/
  body {
    background-color: #635985;
    color: white; }
  .plan {
    width: 8rem;
    border-radius: 50%;
    border: #000000 solid 0.3rem; }
  article {
    background-color: #18122B;
    height: 30vh; }
  .etiquetaTexto {
    padding-left: 2rem;
    font-size: 0.8rem; }
  .logoPagina1 {
    border-radius: 50%;
    height: 8rem; }
  p {
    font-size: 0.8rem; }
  h2 {
    text-align: center;
    font-size: 0.9rem; }
  .listaTips li {
    font-size: 0.8rem; }
  /*******************planes de entrenamiento***********************/
  .container-grid {
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .plan-nutri {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .plan-body {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .plan-power {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .planesEntrenamiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid; }
  .planesEntrenamientoEspecificos {
    height: 20rem;
    width: 40rem;
    text-align: center; }
  .planesEntrenamientoEspecificos:hover {
    height: 15rem;
    width: 30rem; }
  .PlanesTitulo {
    text-align: center;
    background-color: #000000;
    margin: 0 3rem 0 3rem;
    padding: 1rem 3rem 1rem 3rem; }
  .plan:hover {
    width: 10rem; }
  /* **********************tienda************************************* */
  .Grid-tienda {
    padding: 3rem 0 3rem 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 40vh)/repeat(2, 50vh);
    column-gap: 15px;
    row-gap: 10px; }
  .articuloVenta {
    height: 8rem;
    width: 8rem;
    border-radius: 5%; }
  .articuloVenta:hover {
    height: 10rem;
    width: 10rem; }
  .CardArticulo {
    background-color: #18122B;
    border: #000000 solid 0.5rem;
    display: grid;
    place-items: center;
    text-align: center; }
  /**********************Redes sociales****************************/
  .CardRedes {
    padding: 3rem 0 3rem 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 30vh)/repeat(2, 60vh);
    grid-area: "CardTwitter CardFacebook" "CardWhatsapp CardInstagram";
    column-gap: 15px;
    row-gap: 10px; }
  .CardTwitter {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardFacebook {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardWhatsapp {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardInstagram {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .LinkRedes {
    color: aliceblue;
    text-decoration: none;
    display: block; }
  .LinkRedes:hover {
    color: #635985;
    font-size: 1.4rem; }
  .redesGrande {
    border-radius: 50%;
    height: 6rem; }
  button {
    font-size: 1rem; }
  .ContainerTips {
    display: flex;
    background-color: #18122B;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 3rem;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-evenly; } }

@media screen and (max-width: 768px) {
  /********************* HEADER******************************/
  header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    border: #000000 solid 0.3rem; }
  .menu {
    background-color: #18122B;
    width: 100%;
    padding-top: 0.5rem; }
  .pestañasMenu {
    font-size: 1.3rem;
    text-decoration: none; }
  .ElementosMenu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  ul li a {
    color: aliceblue; }
  ul li a:hover {
    color: #635985; }
  h1 {
    text-align: center;
    font-size: 1rem;
    background-color: black;
    margin: 0; }
  /*****************TERMINA EL HEADER************************/
  /**************************FOOTER**************************/
  .redes {
    width: 3rem;
    list-style: none; }
  .FooterEstilos {
    background-color: #18122B;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: #000000 solid 0.3rem; }
  /******************MAIN************************************/
  body {
    background-color: #635985;
    color: white; }
  .plan {
    width: 6rem;
    border-radius: 50%;
    border: #000000 solid 0.3rem; }
  .plan:hover {
    width: 8rem; }
  .logoWeb {
    width: 2.5rem;
    border-radius: 50%; }
  article {
    background-color: #18122B;
    height: 30vh; }
  .etiquetaTexto {
    padding-left: 2rem;
    font-size: 0.6rem; }
  .logoPagina1 {
    border-radius: 50%;
    height: 8rem; }
  p {
    font-size: 0.6rem; }
  h2 {
    text-align: center;
    font-size: 0.9rem; }
  .listaTips li {
    font-size: 0.8rem; }
  /*******************planes de entrenamiento***********************/
  .container-grid {
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .plan-nutri {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .plan-body {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .plan-power {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .planesEntrenamiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid; }
  .planesEntrenamientoEspecificos {
    height: 10rem;
    width: 20rem;
    text-align: center; }
  .planesEntrenamientoEspecificos:hover {
    height: 8rem;
    width: 16rem;
    border: #ffffff 5px solid; }
  .PlanesTitulo {
    text-align: center;
    background-color: #000000;
    margin: 0 3rem 0 3rem;
    padding: 1rem 3rem 1rem 3rem; }
  /* **********************tienda************************************* */
  .Grid-tienda {
    padding: 3rem 0 3rem 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template: repeat(4, 40vh)/repeat(1, 40vh);
    column-gap: 15px;
    row-gap: 10px; }
  .articuloVenta {
    height: 8rem;
    width: 8rem;
    border-radius: 5%; }
  .CardArticulo {
    background-color: #18122B;
    border: #000000 solid 0.5rem;
    display: grid;
    place-items: center;
    text-align: center; }
  /**********************Redes sociales****************************/
  .CardRedes {
    padding: 1rem 0 1rem 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template: repeat(4, 30vh)/repeat(1, 40vh);
    grid-area: "CardTwitter CardFacebook" "CardWhatsapp CardInstagram";
    column-gap: 10px;
    row-gap: 5px; }
  .CardTwitter {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardFacebook {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardWhatsapp {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardInstagram {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .LinkRedes {
    color: aliceblue;
    text-decoration: none;
    display: block;
    font-size: 0.7rem; }
  .LinkRedes:hover {
    color: #635985;
    font-size: 1.4rem; }
  .redesGrande {
    border-radius: 50%;
    height: 6rem; }
  button {
    font-size: 1rem; }
  .ContainerTips {
    display: flex;
    background-color: #18122B;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 3rem;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-evenly; } }

@media screen and (max-width: 425px) {
  /********************* HEADER******************************/
  header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    border: #000000 solid 0.3rem; }
  .menu {
    background-color: #18122B;
    width: 100%;
    padding-top: 0.2rem; }
  .pestañasMenu {
    font-size: 0.8rem;
    text-decoration: none; }
  .ElementosMenu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  ul li a {
    color: aliceblue;
    font-size: 0.5rem; }
  ul li a:hover {
    color: #635985; }
  h1 {
    text-align: center;
    font-size: 0.6rem;
    background-color: black;
    margin: 0; }
  /*****************TERMINA EL HEADER************************/
  /**************************FOOTER**************************/
  .redes {
    width: 2rem;
    list-style: none; }
  .FooterEstilos {
    background-color: #18122B;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: #000000 solid 0.3rem; }
  /******************MAIN************************************/
  body {
    background-color: #635985;
    color: white; }
  .plan {
    width: 3rem;
    border-radius: 50%;
    border: #000000 solid 0.1rem; }
  .logoWeb {
    width: 1.5rem;
    border-radius: 50%; }
  article {
    background-color: #18122B;
    height: 30vh; }
  .etiquetaTexto {
    text-align: center;
    padding: 0;
    font-size: 0.6rem; }
  .logoPagina1 {
    border-radius: 50%;
    height: 3rem; }
  p {
    font-size: 0.6rem; }
  h2 {
    text-align: center;
    font-size: 1rem; }
  .listaTips li {
    font-size: 0.35rem; }
  .ContainerTips {
    display: flex;
    background-color: #18122B;
    justify-content: center;
    align-items: center;
    border: #000000 0.3rem solid;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-evenly; }
  /*******************planes de entrenamiento***********************/
  .container-grid {
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .plan-nutri {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .plan-body {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .plan-power {
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.5rem solid;
    text-align: center; }
  .planesEntrenamiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18122B;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    border: #000000 0.3rem solid; }
  .planesEntrenamientoEspecificos {
    height: 10rem;
    width: 20rem;
    text-align: center; }
  .PlanesTitulo {
    text-align: center;
    background-color: #000000;
    margin: 0 3rem 0 3rem;
    padding: 1rem 3rem 1rem 3rem; }
  /* **********************tienda************************************* */
  .Grid-tienda {
    padding: 3rem 0 3rem 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template: repeat(4, 40vh)/repeat(1, 40vh);
    column-gap: 15px;
    row-gap: 10px; }
  .articuloVenta {
    height: 8rem;
    width: 8rem;
    border-radius: 5%; }
  .CardArticulo {
    background-color: #18122B;
    border: #000000 solid 0.5rem;
    display: grid;
    place-items: center;
    text-align: center; }
  /**********************Redes sociales****************************/
  .CardRedes {
    padding: 1rem 0 1rem 0;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template: repeat(4, 20vh)/repeat(1, 40vh);
    grid-area: "CardTwitter CardFacebook" "CardWhatsapp CardInstagram";
    column-gap: 10px;
    row-gap: 5px; }
  .CardTwitter {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardFacebook {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardWhatsapp {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .CardInstagram {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: #000000 0.5rem solid;
    text-align: center;
    background-color: #18122B; }
  .LinkRedes {
    color: aliceblue;
    text-decoration: none;
    display: block;
    font-size: 0.7rem; }
  .LinkRedes:hover {
    color: #635985;
    font-size: 1.4rem; }
  .redesGrande {
    border-radius: 50%;
    height: 6rem; }
  button {
    font-size: 1rem; }
  .ContainerTips {
    display: flex;
    background-color: #18122B;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
    height: 4rem; } }
