.redes{
    width: 3rem;
    list-style: none;
}
.FooterEstilos{
    background-color: #18122B;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: #000000 solid 0.3rem;
}